.App {
  font-family: sans-serif;
  text-align: center;
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
}


#projects,
#contact {
  color: #3b3b3c;
  background: #eaf2fa;
}

.active {
  font-weight: bold;
  color: rgb(25, 182, 196);
  text-decoration: underline 2px;
  text-underline-offset: 8px;
}

#phome,li {
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}
